#title-navbar{
    color: rgb(55, 218, 247);
    /* position: absolute; */
    /* margin: 1%; */
    align-content: flex-end;
    font-size: 250%;
}

.container-registro{
    margin: 4%;
    font-size: 100%;

}


/* #txt{
    color: blue;
} */


/* BOTONES */
.btn{
    background-color: rgb(43, 10, 192);
    color: cornsilk;
}

.btn.azul{
    background-color: rgb(28, 26, 165);
}
.btn.orange{
    background-color: rgb(253, 144, 1);
}